body{
    background-color: #ffffffea;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 545;
}
img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 250px;
}
h1{
    text-transform: uppercase;
    text-align: center;
}
hr{
    border: 1px solid #00ffbf9e;
    margin-left: 70px;
    margin-right: 70px;
}
#restaurant{
    color:#cb1010;
    font-size: 20px;
    margin-left:70px;
    padding-top:2px;
    padding-bottom: 0px;
}
#restaurant-text{
    font-size:18px;
    margin-left: 70px;
    padding: 0px;
    line-height: 30px;
}
#catering{
    color:#cb1010;
    font-size: 20px;
    margin-left:70px;
    padding:2px;
}
#catering-text{
    font-size:18px;
    margin-left: 70px;
    padding: 0px;
    line-height: 30px;
}
#location{
    color:#cb1010;
    font-size: 20px;
    margin-left:70px;
    padding:2px;
}
#location-one,#time-one,#time-two{
    font-size:18px;
    margin-left: 70px;
    padding: 0px;
    line-height: 30px;
}