*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    width: 98%;
    
}
#container{
    width:95%;
}
#number {
    margin-top: 20px;
    word-spacing: 9px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#name{
    color: #ff0000b5;
    padding-left: 2%;
}
header{
    width:100%;
    display: flex;
    justify-content: flex-end;
    margin-left:3%;
    font-size:1%;
}
a{
    display: inline-table;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 15px;
}
#work{
    border: 1px solid #ff0000;
    background-color: #ffffff;
    width:14%;
    border-radius: 25px;
    margin-top:1%;
}
img{
    width: 60%;
    padding-top: 2%;
}
#content{
    display: flex;
    flex-direction: row-reverse;
    gap:7%;
}
.text-area{
    margin-top:9%;
    padding:2%;
    font-size:20px;
}
#head{
    font-weight: 550;
    line-height:50px;
}
#text{
    font-family: Arial, Helvetica, sans-serif;
    line-height:30px;
    margin-top:8%;
}
#talk{
    border: 1px solid #ff0000;
    background-color: #fc1515;
    color:white;
    width:50%;
    margin-top:10%;
    padding-top:2%;
    padding-bottom: 2%;
    border-radius: 12px;
}
@media (max-width:320px) {
    header{
        display: flex;
        flex-wrap: wrap;
    }
    #work{
        width: fit-content;
    }
    #content{
        display: flex;
        flex-wrap: wrap;
    }
    img{
        width:80%;
        display: flex;
    }
}
@media (max-width:375px) {
    #work{
        width: fit-content;
    }
    #content{
        display: flex;
        flex-wrap: wrap;
        width:70%;
    }
    img{
        display: inline;
        width: 70%;;
    }
}
@media (max-width:425px) {
    header{
        display: flex;
        flex-wrap: wrap;
    }
    #work{
        width: fit-content;
    }
    .text-area{
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
    }
    img{
        width:62%;
       
    }
}